img{
    width: 400px;
    border-bottom: 1px solid gray;
}
.content{
    width: 400px;
    border: 1px solid gray;
    margin: 0;
}
.padding{
    padding: 0px 10px 0px 10px
}
.orange{
    color: orange;
    font-weight: bold;
}
