/* 공통 CSS */
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{ 
    box-sizing: border-box; 
    font-size: 16px;
    font-family: 'JalnanGothic';
}
/* 전체구역 */

#wrap{ width: 300px; margin: 0 auto; } 
/* 쓰기구역 */
#todoTop{ display: flex; height: 30px; }
#content{ width: 250px; padding: 10px; border: none; box-shadow: 0px 0px 3px #9f6363; }

#todoTop > input[type="button"]{    /* 마크업 속성을 이용한 선택자. */
    width: 50px; border: none;
    padding: 10px; box-shadow: 0px 0px 3px #9f6363;
    cursor: pointer;
}

/* 출력 구역 */

#centerHerd{
    display: flex;
    justify-content: space-between; /* 가로정렬*/
    align-items: center;      
}


.todo{
    display: flex;
    justify-content: space-between; /* 가로정렬*/
    align-items: center;            /* 세로정렬 */
    font-size: 20px; font-weight: bold;
    margin: 20px 1px; padding: 5px 10px;
    background-color: aliceblue;
}
.todo > .btnBox > input{
    font-size: 12px;
    border: none;
    box-shadow: 0px 0px 3px #9f6363;
}
.success{
    background-color: rgb(110, 111, 112);
}
.success > .content{ text-decoration: line-through 2px black; color: white;  }
.btnBox input[type="button"]{
    cursor: pointer;
}